.wrapper{
    height: auto;
    width: 600px;
    border: 1px dashed black;
    margin: auto;

}
.row-1{
    height: 80px;
    width: 600px;
    border-bottom: 1px solid red;
}
.col-1{
    height: 80px;
    width: 100px;
    border-right: 1px solid blue;
    float: left;
}
.col-2{
    height: 80px;
    width: 499px;
    float: left;
}
.row-2{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid red;
}
.row-3{
    height: 550px;
    width: 100%;
    border-bottom: 1px solid red;
}
.col-4{
    height: 550px;
    width: 20%;
    border-right: 1px solid blue;
    float: left;
}
.col-5{
    height: 550px;
    width: 79.8%;
    float: left;
     background-image: url(./image/slider.jpg); 
    background-repeat: repeat;
    background-size: 280px 60px;
    background-attachment: fixed;
}